// Colors
$pink: #FF5A5F;
$grey: #484848;
$light_grey: #fafafa;
$white: #ffffff;
$black: #000000;
$overlay: rgba(0,0,0,0.4);


// Buttons
$button-default-radius: 3px;
$button-height: 40px;
$button-height-lg: 50px;
$button-height-sm: 30px;
