button,
.button{
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    height: $button-height;
    line-height: $button-height;
    outline: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    text-decoration: none;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-property: background, box-shadow, color, transform;
    transition-property: background, box-shadow, color, transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover{

    }

    //Styling
    &__rounded{

    }

    &__full{

    }

    //Colors
    &__default,
    &__default-white{

    }

    &__pink{
        background-color: $pink;
        color: $white;
    }

    &__has__svg{
        svg{

        }
    }

    //Sizes
    &--small{

    }

    &--large{
        border-radius: 6px;
        font-size: 16px;
        height: $button-height-lg;
        line-height: $button-height-lg;
        padding-left: 2em;
        padding-right: 2em;
    }
}