header {
    background: inherit;
    border-bottom: 1px solid #DBDBDB;
    min-height: 80px;
    width: 100%;
    padding-top: 2em;

   img{
       height: 50px;
   }

    a{
        color: $white; 
    }
}